@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2? family= Audiowide & family= Dancing+Script & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Audiowide & family= Dancing+Script & display=swap');
:root {
   --font1: Verdana, Geneva, Tahoma, Sans-serif;
   --font2:font-family: 'Audiowide', cursiva;
   font-family: 'Dancing Script', cursiva;
   --font3:font-family: 'Audiowide', cursiva;
   font-family: 'Dancing Script', cursiva;
}
* {
   margin: 0px;
   padding: 0px;
 }
 html, body {
    font-family:var(--font1) ;
   min-height: 100vh;
   background-color: darkgray;
 }
 header {
   background-color: rgb(56, 56, 56);
   color: white;
   text-align: center;
 }
 header > h1 {
    font-family: var(--font2);
   padding: 40px;
   text-transform: small-caps;  
 }
 header > p {
   padding-bottom: 40px;
 }
 a {
   color: aliceblue;
   text-decoration: none;
   font-weight: bolder;
 }
 a:houver {
    text-decoration: underline;
 } 
 section {
    font-family: var(--font1);
    padding-top: 8vh;
    padding-bottom: 8vh;
    line-height: 1.5em;
    padding-left: 32px;
 }
 section.nornal {
    background-color:aliceblue;
    color: rgb(36, 36, 36);
 }
 section.imagem{
    background-color: rgb(39, 39, 39);
    color: antiquewhite; 
 }
 section.imagem > p {
    background-color: rgb(71, 71, 71);
    width: 250px;
 }
 footer {
    background-color: rgb(43, 43, 43);
    color: aliceblue;
    text-align: center;
    padding: 8px;
   
 }

